<!DOCTYPE html>
<html ng-app="myapp">
  <head>
    <meta charset="utf-8">
    <title>Movie Search</title>
    <link rel="stylesheet" href="css/main.css">
  </head>
  <body ng-controller="MainController" ng-cloak>
    <main>
      <center>
        <h1>Angular OMDb API Search</h1><br>
        <form ng-submit="searchByTitle()">
          <input type="text" ng-model="searchterm" placeholder="Title to search">
          <a href="/#/searchresults" ng-click="searchByTitle()"><button>Search</button></a>
        </form>
      </center>
      <br>
      <hr>
      <br>
      <div ng-view></div>
    </main>
    <script type="text/javascript" src="https://code.angularjs.org/1.5.0/angular.js"></script>
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.0/angular-route.js"></script>
    <script type="text/javascript" src="js/app.js"></script>
    <script type="text/javascript" src="js/controllers/main_controller.js"></script>
    <script type="text/javascript" src="js/controllers/show_controller.js"></script>
  </body>
</html>
