[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}

* {
  margin: 0;
}

h1 {
  margin-top: 10px;
}

.container {
  width: 500px;
  margin: 0 auto;
  border: black 2px solid;
  padding: 10px;
  margin-top: 25px;
  margin-bottom: 50px;
}

.title {
  font-size: 24px;
  font-weight: bold;
}

.left {
  width: 40%;
  height: 250px;
  float: left;
}

img {
  height: 240px;
  width: 180px;
}

.right {
  width: 60%;
  height: 250px;
  float: right;
  /*margin-bottom: 100px;*/
}

.starring {
  font-size: 14px;
}

.plot {
  font-size: 18px;
}

.bottom {
  width: 100%;
  font-size: 14px;
  margin-top: 300px;
}

table {
  border-spacing: 25px;
  border-collapse: separate;
}
